*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

@font-face {
    font-family: "UnifrakturCook";
    src: url("./font.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

.unifrakturcook-bold {
    font-family: "UnifrakturCook", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
